galoy:
  network: signet

  trigger:
    backups:
      gcs:
        enabled: true
        bucketName: blink-staging-backups
  api:
    replicas: 1

  config:
    funder: "GaloyFunder"
    paymentNetworks:
      onchain:
        receive:
          walletName: galoy-staging-hot
          rebalance:
            destinationWalletName: galoy-staging-hot
        send:
          walletName: galoy-staging-hot

  lnd1:
    dns: lnd1.galoy-staging-bitcoin.svc.cluster.local

  lnd2:
    dns: lnd2.galoy-staging-bitcoin.svc.cluster.local

  bria:
    host: bria-api.galoy-staging-bitcoin.svc.cluster.local

  dealer:
    host: dealer-price.galoy-staging-addons.svc.cluster.local

price:
  postgresql:
    image:
      repository: bitnamilegacy/postgresql
    primary:
      persistence:
        enabled: false

redis:
  image:
    repository: bitnamilegacy/redis
  sentinel:
    image:
      repository: bitnamilegacy/redis-sentinel
  metrics:
    image:
      repository: bitnamilegacy/redis-exporter
  master:
    persistence:
      enabled: false
  auth:
    existingSecret: "galoy-redis"
    existingSecretPasswordKey: "redis-password"

mongodb:
  image:
    repository: bitnamilegacy/mongodb
  metrics:
    image:
      repository: bitnamilegacy/mongodb-exporter
  persistence:
    enabled: false

oathkeeper:
  replicaCount: 1
  secret:
    enabled: false

kratos:
  replicaCount: 1

secrets:
  create: false
