image:
  repository: us.gcr.io/galoy-org/galoy-admin-panel
  digest: "sha256:a2d8b3edab3c953c4e53716f97e752e6f6ae761ad13edf6aee0f1a412182bc55" # METADATA:: repository=https://github.com/blinkbitcoin/blink;commit_ref=9fe2578;app=admin-panel;monorepo_subdir=apps/admin-panel;
  git_ref: "ef99dc0" # Not used by helm
ingress:
  enabled: false
service:
  port: 3000
  type: ClusterIP
adminPanel:
  adminCoreApi: http://admin-api.galoy-dev-galoy.svc.cluster.local:4001/admin/graphql
  nextAuthUrl: http://localhost:3000
  authorizedEmails: "satoshi@blink.sv,nakamoto@blink.sv"
  userRoleMap: {}
resources: {}
secrets:
  create: true
  googleOauthClientId: ""
  googleOauthClientSecret: ""
  nextAuthSecret: ""
otelExporterOtlpEndpoint: http://localhost:4318
tracingServiceName: "admin-panel"
