strimzi-kafka-operator:
  createGlobalResources: false
kubemonkey:
  fullnameOverride: ${kubemonkey_fullname_override}
cert-manager:
  installCRDs: false
ingress-nginx:
  controller:
    allowSnippetAnnotations: true
    ingressClassResource:
      enabled: false
    config:
      enable-opentelemetry: "true"
      otlp-collector-host: ${jaeger_host}
      otlp-collector-port: "4317"
      otel-service-name: ${service_name}
opentelemetry-collector:
  clusterRole:
    create: false
  mode: deployment
