strimzi-kafka-operator:
  createGlobalResources: false
kubemonkey:
  fullnameOverride: ${kubemonkey_fullname_override}
cert-manager:
  installCRDs: false
ingress-nginx:
  controller:
    allowSnippetAnnotations: true
    ingressClassResource:
      enabled: false
opentelemetry-collector:
  clusterRole:
    create: false
  mode: deployment
