# needed to use the bitnamilegacy repository
# https://github.com/bitnami/containers/issues/83267
global:
  security:
    allowInsecureImages: true
secrets:
  create: true
  pgCon: ""
  okexSecretKey: ""
  okexPassphrase: ""
  galoyPhoneCode: ""
  galoyApiKey: ""
  briaProfileApiKey: ""
stablesats:
  priceDeployment:
    replicas: 2
    resources: {}
  dealerDeployment:
    replicas: 1
    resources: {}
  image:
    repository: us.gcr.io/galoy-org/stablesats-rs
    digest: "sha256:aff2c460f8fd970f9d33fd54f56341d75590a58720c44afc1b16c1150b8e9d60" # METADATA:: repository=https://github.com/blinkbitcoin/stablesats-rs;commit_ref=54607ec;app=stablesats;
  crash_report_config_danger: false
  db:
    poolSize: 20
  userTrades:
    enabled: true
    balancePublishFrequency: 5
    galoyPollFrequency: 10
  hedging:
    enabled: true
    health:
      unhealthyMsgIntervalPosition: 30
      unhealthyMsgIntervalLiability: 30
      unhealthyMsgIntervalPrice: 30
  priceServer:
    port: 3325
    fees:
      baseFeeRate: 0.0010
      immediateFeeRate: 0.0015
      delayedFeeRate: 0.0010
    priceCache:
      staleAfter: 40
    health:
      unhealthyMsgIntervalPrice: 30
  galoy:
    api: "https://api.staging.blink.sv/graphql"
    phoneNumber: "+50365055530"
  exchanges:
    okex:
      pollFrequency: 10
      client:
        apiKey: ""
        simulated: true
  tracing:
    host: "localhost"
    port: 4317
    priceServiceName: "stablesats-price"
    dealerServiceName: "stablesats-dealer"
  bria:
    url: "http://bria-api.default.svc.cluster.local:2742"
    walletName: "dev-wallet"
    payoutQueueName: "dev-queue"
    onchainAddressExternalId: "dev-onchain-address"
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  enabled: true
  auth:
    enablePostgresUser: false
    username: stablesats
    password: stablesats
    database: stablesats
