# needed to use the bitnamilegacy repository
# https://github.com/bitnami/containers/issues/83267
global:
  security:
    allowInsecureImages: true
secrets:
  create: true
  nextAuthSecret: ""
  clientSecret: ""
  escrowApiKey: ""
  pgCon: ""
voucher:
  hydraPublic: "http://galoy-hydra-public.galoy-dev-galoy.svc.cluster.local:4444"
  coreUrl: "http://galoy-oathkeeper-proxy.galoy-dev-galoy.svc.cluster.local:4455/graphql"
  voucherUrl: "http://localhost:3000"
  nextAuthUrl: ""
  clientId: ""
  otelExporterOtlpEndpoint: http://localhost:4318
  tracingServiceName: "voucher"
  platformFeesInPpm: 2000
image:
  repository: us.gcr.io/galoy-org/galoy-voucher
  digest: "sha256:fba345c2ae5fa95fb758aa0adad517734e25d989bd6cae3b773b31f7b1c6809c" # METADATA:: repository=https://github.com/blinkbitcoin/blink;commit_ref=758ad72;app=voucher;monorepo_subdir=apps/voucher;
ingress:
  enabled: false
service:
  port: 3000
  type: ClusterIP
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  enabled: true
  auth:
    enablePostgresUser: false
    username: voucher
    password: voucher
    database: voucher
resources: {}
