# needed to use the bitnamilegacy repository
# https://github.com/bitnami/containers/issues/83267
global:
  security:
    allowInsecureImages: true
fullnameOverride: ""
nameOverride: ""
bria:
  devDaemon:
    enabled: false
    bitcoindSignerEndpoint: https://bitcoind-onchain.default.svc.cluster.local:18543
  resources: {}
  tracing:
    host: localhost
    port: 4317
    serviceName: bria-dev
  app:
    blockchain:
      network: regtest
      electrumUrl: fulcrum.default.svc.cluster.local
    fees:
      mempoolSpace:
        url: https://mempool.space
        numberOfRetries: 3
    security:
      blockedAddresses: []
    deprecatedEncryptionKey:
      nonce: null
      key: null
  db:
    poolSize: 20
  admin:
    service:
      type: ClusterIP
      port: 2743
  api:
    service:
      type: ClusterIP
      port: 2742
      staticIP: ""
      annotations: {}
  labels: {}
  image:
    repository: us.gcr.io/galoy-org/bria
    digest: "sha256:2c8d00f0ea0d9885f38d8ad8d5b4c0207eec9f22cf84e11826b6fb85db6cdaea" # METADATA:: repository=https://github.com/blinkbitcoin/bria;commit_ref=cb4b58b;app=bria;
    git_ref: "55654e2"
  replicas: 2
  annotations:
  secrets:
    create: true
    pgCon: ""
    signerEncryptionKey: ""
    annotations:
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  enabled: true
  auth:
    enablePostgresUser: false
    username: bria
    password: bria
    database: bria
resources: {}
